<div class="imgContainer">
  <img 
    class="img"
    src={{portfolio.image}}
    alt={{portfolio.alt}}
    data-test-portfolio-img
  >
</div>

<header class="header">
  <div class="img"></div>

  <div class="info">
    <h1 class="title" data-test-portfolio-title>{{portfolio.title}}</h1>
    <h2 class="category" data-test-portfolio-category>{{portfolio.category}}</h2>
  </div>
</header>

<p class="description" data-test-portfolio-description>{{portfolio.description}}</p>

<span class="skills" data-test-portfolio-skills>{{portfolio.skills}}</span>

{{#link-to 
  "about" 
  class="btnsee" 
}}
  See more
{{/link-to}}